body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.png {
    width: 100px;
    height: 100px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}